.featuredproducts {
  margin: 100px 200px;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
      text-transform: capitalize;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

@media only screen and (max-width: 1400px) {
  .featuredproducts {
    margin: 100px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .featuredproducts {
    margin: 100px 20px;

    .top {
      flex-direction: column;
    }

    .bottom {
      flex-direction: column;
    }
  }
}