.contactpage {
  padding: 20px 50px;
  display: flex;
  gap: 50px;

  .left {
    flex: 1;
    display: flex;
    gap: 20px;

    img {
      width: 100%;
      max-height: 800px;
      object-fit: cover;
    }
  }  
  .right {
    flex: 1;
    display: flex;
    gap: 20px;
    
    .item {
      
      flex: 1;
    }
  } 
}

@media only screen and (max-width: 768px) {
  .contactpage {
    padding: 20px 20px;
    flex-direction: column;
  }
}